<% provide(:title, "Blog") %>
<div class="blog">
  <h1>Trip Blog</h1>
  <h2>Looking to hear some recent updates from people on our trips? Check out the blog posts below</h2>

  <p>This is a pretend blog post.</p>
</div>