<section>
  <div class="banner"></div>
  <div class="col-md-6 col-md-offset-3">
    <div class="body-copy">
      Our mission is to lead people into a growing relationship with Jesus Christ by <%= link_to "serving", trips_path %> our international community.
    </div>
  </div>
</section>
<section class="gx-background">
  <div class ="testimonial col-md-8 col-md-offset-2">
      "It continues to amaze me how God reveals himself in such strong ways on each trip that is totally unique to the trip. My relationship and trust in Him grew tenfold. I find myself pursuing an even closer relationship with Him in ways that I didn't know were possible.”
      <br>
        - Laura, Costa Rica

  </div>
</section>
