<% provide(:title, "Trips") %>
<div class="trip-banner">
  <br>
  <br>
  Looking to take a trip? 
  <br>
  Check out our current list of trips below!
</div>

<%= will_paginate %>
<ul class="trips">
  <%= render @trips %>
</ul>

<%= will_paginate %>